@{
    ViewBag.Title = "Home";
}

<h3>@ViewBag.Message</h3>

 <div ng-app="app" >
     <product-table ></product-table>
</div>
   
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/ng-grid.js"></script>
<script type="text/javascript" src="/Scripts/angular.js"></script>
<script type="text/javascript" src="/Scripts/ui-grid.js"></script>
<script type="text/javascript" src="/Scripts/angular-touch.js"></script>
<script type="text/javascript" src="/Scripts/angular-animate.js"></script>
<link rel="stylesheet" href="/Content/ui-grid.css" type="text/css">
<link rel="stylesheet" href="/Content/style.css" type="text/css">
@*<script type="text/javascript" src="/app/product.controller.js"></script>*@

<script type="text/javascript" src="/app/ComponentsForOnlineStore/Components/product-table/product-table.component.js"></script>