p.header {

    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
 .grid {
    border: 1px solid rgb(212,212,212);
    width: 500px; 
    height: 300px;
     margin-left: 18px;
}

.navbar-inverse {
    background: white;
    border: 1px solid rgb(212,212,212);
}
 footer {
     
     border: 1px solid rgb(212,212,212);
     text-align: center;
     font-weight: bold;
     padding-bottom: 30px;
 } 


 div.ui-grid-viewport.ng-isolate-scope {
     overflow: hidden;
 }
 .navbar.navbar-inverse.navbar-fixed-top {
     border-bottom: 0;
 }
.glyphicon {
    margin-left: 30px;
}
.title {
    margin-left: 19px;
}

 .addBtn.btn.btn-mini.glyphicon.glyphicon-plus {
     background-color: whitesmoke;
 }
 .removeBtn.btn.btn-mini.glyphicon.glyphicon-trash {
     background-color: whitesmoke;
 }
 .col-xs-6 {
     padding-right: 0;
     padding-left: 0;
     margin-left: 10px;
 }



 